body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #020617;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #1e293b;
}

th {
  background: #020617;
}

.green {
  color: #22c55e;
}

.red {
  color: #ef4444;
}
